<!DOCTYPE html>
<html lang="en">
<head>
    <title>RT필름 불량검출</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="./static/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/">RT필름 불량판독 사이트</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" href="/">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            메인
                        </a>
                        <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="layout-static.html">Static Navigation</a>
                                <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                            </nav>
                        </div>
                        <a class="nav-link" href="/data_anal">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            데이터 분석
                        </a>
                        <a class="nav-link" href="/detection">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-server"></i></div>
                            용접선 검출
                        </a>
                        <a class="nav-link" href="/anomal">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-microchip"></i></div>
                            Anomal Detection
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">용접선 검출 전처리</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">실행할 전처리와 파라미터를 입력하시고 실행버튼을 눌러주세요.</li>
                    </ol>
                <div class="card mt-4 ms-4 mx-4">



                    <div class="card-header">
                        <div class="input-group">
                            <select class="form-select-sm" id="inputGroupSelect04" aria-label="원하는 전처리를 클릭하세요.">
                            <option selected>목록</option>
                            <option value="thresh">쓰레시홀드</option>
                            <option value="erode">이로딩</option>
                            <option value="dilation">딜레이션</option>
                            <option value="final">최종작업</option>
                            </select>
                            <input type="number" class="form-control" id="thresh" placeholder="임계값을 입력하세요. (기본값:801)">
                            <input type="number" class="form-control" id="kernel" placeholder="커널수를 입력하세요. (기본값:23)">
                            <button class="btn btn-warning" type="button" onclick="different()">실행</button>
                        </div>
                    </div>



                    <div class="card-body" id="prepro_area">
                        <!-- 이미지가 들어 올 공간 -->
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">&copy; 부산대학교, 이지정의 필름쇼</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="./static/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="../static/assets/demo/chart-area-demo.js"></script>
    <script src="../static/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="./static/datatables-simple-demo.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>
